*{
  margin: 0; padding: 0;
  }

  html, body{
    background-color: #92cccc;
    height:100%;
    min-width: 850px;
    font-size: 100%;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  }

#navbar  {
  padding: 10px 0px 10px 0px;
  text-align: center;
  background-color: #333;
}

div#navbar ul li{
  display: inline-block ;
  text-align: center;
  padding: 0px 10px 0px 10px;
}

div#navbar ul li a{
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  color: #fff;
}

div#navbar ul li a:hover{
  color: #888 ;
}

#welcomeToCanadaImageBox{
  width: 100%;
  height: 100%;
  z-index: -1;
}
.greeding{
  font-size: 300%;
  text-align: center;
  z-index: -5;
  background-color: #92cccc;
  padding-top: 20px;
  box-shadow: 1px 1px 1px #111;
}
#welcomeToCanada{
  display: block;
  margin: auto;
  margin-top: -700px;
  z-index: 1;
}
.currentlyActive{
  height: auto;
  background-color: black;
}
#tables {
  margin: auto;
  border: 2px solid black;
  width: 60%;
  border-collapse: collapse;
}
table tr{
  border: solid;
  border-width: 1px;
}
div table tr td {
  padding: 2px 1px 2px 1px;
}
div table tr td p {
  text-align: center;
  font-weight: bold;
}
div table tr td img {
  float:left;
  border: 2px solid cyan;
  margin: 5px;
}
